In [41]:
import pandas as pd

In [42]:
resume_data = pd.read_csv('ResumeDataSet/UpdatedResumeDataSet.csv')
print(resume_data)
print(resume_data.columns.tolist())

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]
['Category', 'Resume']

In [11]:
print ("✔️Displaying the distinct categories of resume:\n\n ")
print (resume_data['Category'].unique())

✔️Displaying the distinct categories of resume:


['Data Science' 'HR' 'Advocate' 'Arts' 'Web Designing'
 'Mechanical Engineer' 'Sales' 'Health and fitness' 'Civil Engineer'
 'Java Developer' 'Business Analyst' 'SAP Developer' 'Automation Testing'
 'Electrical Engineering' 'Operations Manager' 'Python Developer'
 'DevOps Engineer' 'Network Security Engineer' 'PMO' 'Database' 'Hadoop'
 'ETL Developer' 'DotNet Developer' 'Blockchain' 'Testing']

In [14]:
print(f'The shape of the data is: {resume_data.shape}\n')
print(f'The size of the data is: {resume_data.size}\n')

The shape of the data is: (962, 2)

The size of the data is: 1924

In [19]:
print(resume_data.dtypes)
print(resume_data.info())

Category    object
Resume      object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  962 non-null    object
 1   Resume    962 non-null    object
dtypes: object(2)
memory usage: 15.2+ KB
None

In [37]:
resume_data.describe()

              Category                                             Resume
count              962                                                962
unique              25                                                166
top     Java Developer  Technical Skills Web Technologies: Angular JS,...
freq                84                                                 18

In [30]:
print(resume_data.loc[0])
print(resume_data.iloc[0:800:100])

Category                                         Data Science
Resume      Skills * Programming Languages: Python (pandas...
Name: 0, dtype: object
                   Category                                             Resume
0              Data Science  Skills * Programming Languages: Python (pandas...
100                Advocate  Skills: Natural Languages: Proficient in Engli...
200     Mechanical Engineer  Education Details \r\nMay 1999 to September 20...
300          Civil Engineer  PERSONAL SKILLS â¢ Passionate towards learnin...
400          Java Developer  TECHNICAL SKILLS Programming Languages: Java (...
500  Electrical Engineering  Education Details \r\nJanuary 2012 to January ...
600         DevOps Engineer  Software Proficiency: â¢ Languages: Basics of...
700                     PMO  CORE COMPETENCIES â¢ Maintain processes to en...

In [32]:
resume_data.isna().sum()

Category    0
Resume      0
dtype: int64

In [35]:
if resume_data.duplicated().any()>0:
    print(f"The number of duplicates are {resume_data.duplicated().sum()}")
else:
    print(f'There are no duplicates r in the dataset')

The number of duplicates are 796

In [40]:
resume_data['Category'].value_counts()

Category
Java Developer               84
Testing                      70
DevOps Engineer              55
Python Developer             48
Web Designing                45
HR                           44
Hadoop                       42
Sales                        40
Data Science                 40
Mechanical Engineer          40
ETL Developer                40
Blockchain                   40
Operations Manager           40
Arts                         36
Database                     33
Health and fitness           30
PMO                          30
Electrical Engineering       30
Business Analyst             28
DotNet Developer             28
Automation Testing           26
Network Security Engineer    25
Civil Engineer               24
SAP Developer                24
Advocate                     20
Name: count, dtype: int64